.container{
    width: 100%;
    margin: 0 auto;
    height: 0 100vh;
    /* border: 1px solid red; */
    background: #202020;
}
.container-disnep a{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    gap: 50px;
}
.container-disnep h1{
    color: #fff;
    font-size: 14px;
}