.header-containers{
    width: 1300px;
    height: 86px;
    margin: 0 auto;
    padding: 5px 0px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey ;
    width: 100%;
    height: 55px;
}
.header-left{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid grey; */
    /* border-right: 1px solid grey; */
    gap: 15px;
}
.header-left svg{
    width: 30px;
    height: 30px;
}
.header-right{
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border-left: 1px solid grey; */
    /* border-right: 1px solid grey;     */
    gap: 50px;
}
.header-right-mus{
    text-align: center;
}
.header-left h1{
    font-size: 14px;
    color: #fff;
}
.header-right p, .header-right span{
    font-size: 14px;
    color: white;
    text-align: center;
}
.header-right-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 39px;
    gap: 35px;
}
.header-a a{
    color: white;
    font-size: 14px;
}